{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            {% for job in page_obj %}
            <div class="card card-job">
                <h2><a href="{% url 'job' job_id=job.id %}">{{ job.title }}</a></h2>
                <div class="salary">{{ job.salary }}$</div>
                <div class="description">{{ job.description | truncatewords:20 }}</div>
                <div class="subinfo">
                    <div>{{ job.country }} {{ job.city }}</div>
                    <div>{{ job.date_publish }}</div>
                </div>
            </div>
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="fi fi-rr-angle-small-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <i class="fi fi-rr-angle-small-left"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="fi fi-rr-angle-small-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"><i class="fi fi-rr-angle-small-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-heading">
                    <h2>Разместите вакансию</h2>
                </div>
                <p>Самый простой способ найти новых сотрудника — создать вакансию.</p>
                <div>
                    <a class="btn btn-primary btn-with-icon" href="{% url 'job_add' %}"><i class="fi fi-rr-add"></i>Добавить вакансию</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}