{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ job.title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-heading">
                    <h2>{{ job.salary }} $</h2>
                    <div class="subtitle">
                        <span>{{ job.country }} {{ job.city }}</span> - <span>{{ job.date_publish }}</span>
                    </div>
                </div>
                <div class="description">{{ job.description | linebreaks }}</div>
                <div class="comment">{{ job.comment }}</div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <h2>Контакты</h2>
                    <div class="subtitle">Контактные данные для связи с работодателем</div>
                </div>
                <ul class="list-unstyled list-contacts">
                    <li><span class="left">Название компании: </span><span class="right"><a href="{% url 'employer' pk=job.user.id %}">{{ job.user.name }}</a></span></li>
                    <li><span class="left">Телефон: </span><span class="right"><a href="tel:{{ job.user.phone }}">{{ job.user.phone }}</a></span></li>
                    <li><span class="left">E-mail: </span><span class="right"><a href="mailto:{{ job.user.email }}">{{ job.user.email }}</a></span></li>
                    <li><span class="left">Telegram: </span><span class="right">{{ job.user.telegram }}</span></li>
                    <li><span class="left">Whatsapp: </span><span class="right">{{ job.user.whatsapp }}</span></li>
                    <li><span class="left">LinkedIn: </span><span class="right"><a href="{{ job.user.linkedin }}">{{ job.user.linkedin }}</a></span></li>
                    <li><span class="left">Веб-сайт: </span><span class="right"><a href="{{ job.user.website }}">{{ job.user.website }}</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-heading">
                    <h2>{{ job.user.name }}</h2>
                    <div class="subtitle">Описание работодателя / компании</div>
                </div>
                <p>{{ job.user.about }}</p>
                <a href="{% url 'employer' pk=job.user.id %}" class="btn btn-primary">Смотреть профиль</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}