{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ job.title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
        {% if user == job.user %}
            {% if job.status == 0 %}
                <div class="status job-status status-moderate"><i class="fi fi-rr-time-add"></i>Ожидает одобрения</div>
            {% else %}
                <div class="status job-status status-done"><i class="fi fi-rr-check"></i>Активно</div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-job-contact d-flex justify-content-between align-items-center mb-3">
                    <div class="avatar avatar-mini">{{ job.user.username|slice:":2" }}</div>
                    <div class="job-contact-info">
                        <div class="mb-1"><a href="{% url 'employer' pk=job.user.id %}">{{ job.user.name }}</a></div>
                        {% if job.user.website %}
                            <div class="text-muted">{{ job.user.website }}</div>
                        {% else %}
                            <div class="text-muted">{{ job.user.email }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'employer' pk=job.user.id %}" class="btn btn-with-icon"><i class="fi fi-rr-user"></i>Профиль работодателя</a>
                        <a href="#job-message" class="btn btn-primary ms-3 btn-with-icon"><i class="fi fi-rr-envelope"></i>Откликнуться</a>
                    </div>
                </div>
                <div class="description">{{ job.description | linebreaks }}</div>
                {% if job.comment %}
                <div class="comment">{{ job.comment }}</div>
                {% endif %}
            </div>
            {% if user.type == 0 %}
            <div class="card" id="job-message">
                <div class="card-heading">
                    <h2>Откликнуться на вакансию</h2>
                    <div class="subtitle">Чтобы откликнуться на вакансию, пожалуйста, заполните форму</div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.message.auto_id }}" class="form-label">{{ form.message.label }}</label>
                        {{ form.message }}
                        <div class="form-text">{{ form.message.help_text }}</div>
                    </div>
                    {{ form.errors }}
                    <button type="submit" class="btn btn-primary btn-with-icon"><i class="fi fi-rr-envelope"></i>Откликнутся</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-heading">
                    <h2>Дополнительно</h2>
                    <div class="subtitle">Дополнительные сведения, касательно вакансии</div>
                </div>
                <div class="card-salary mb-3">
                    <div class="salary">
                        {% if job.salary %}
                            {{ job.salary }} $
                        {% else %}
                            Не указано
                        {% endif %}
                    </div>
                    <div class="text-muted">Выше указана ожидаемая заработная плата потенциального кандидата в мес.</div>
                </div>
                <ul class="list-group list-menu">
                    {% if job.specialization %}
                    <li class="list-group-item">
                        <span class="text-muted d-block small mb-1">Специализация:</span>
                        <span><i class="fi fi-rr-id-badge"></i>{{ job.specialization }}</span>
                    </li>
                    {% endif %}
                    {% if job.country or job.city %}
                    <li class="list-group-item">
                        <span class="text-muted d-block small mb-1">Местоположение:</span>
                        <span><i class="fi fi-rr-marker"></i>{{ job.country }} {{ job.city }}</span>
                    </li>
                    {% endif %}
                    {% if job.exp %}
                    <li class="list-group-item">
                        <span class="text-muted d-block small mb-1">Опыт работы:</span>
                        <span><i class="fi fi-rr-user-time"></i>{{ job.get_exp_display }}</span>
                    </li>
                    {% endif %}
                    {% if job.remote_type %}
                    <li class="list-group-item">
                        <span class="text-muted d-block small mb-1">Тип работы:</span>
                        <span><i class="fi fi-rr-city"></i>{{ job.get_remote_type_display }}</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <span class="text-muted d-block small mb-1">Дата публикации:</span>
                        <span><i class="fi fi-rr-calendar-lines-pen"></i>{{ job.date_publish }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}