{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-heading">
                    <h2>Добавить вакансию</h2>
                    <div class="subtitle">Чтобы добавить вакансию заполните форму нижу</div>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="title" class="form-label">Название:</label>
                        <input type="text" class="form-control" id="title" placeholder="Введите название...">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание:</label>
                        <textarea class="form-control" id="description" rows="3" placeholder="Введите описание к вакансии..."></textarea>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="country" class="form-label">Страна:</label>
                                <input type="text" class="form-control" id="country" placeholder="Укажите страну...">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="city" class="form-label">Город:</label>
                                <input type="text" class="form-control" id="city" placeholder="Укажите город...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="salary" class="form-label">Зарплата:</label>
                                <input type="number" class="form-control" id="salary">
                                <div class="form-text">Учтите, зарплата указывается в долларах</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Комментарий:</label>
                        <textarea class="form-control" id="comment" rows="3" placeholder="Дополнительная информация..."></textarea>
                        <div class="form-text">Укажите дополнительную информацию, которая так или иначе относится к вашему предложению.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить вакансию</button>
                </form>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
{% endblock content %}