{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-heading">
                    <h2>Добавить вакансию</h2>
                    <div class="subtitle">Чтобы добавить вакансию заполните форму нижу</div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.title.auto_id }}" class="form-label">{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.description.auto_id }}" class="form-label">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="{{ form.country.auto_id }}" class="form-label">{{ form.country.label }}</label>
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="{{ form.city.auto_id }}" class="form-label">{{ form.city.label }}</label>
                                {{ form.city }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="{{ form.salary.auto_id }}" class="form-label">{{ form.salary.label }}</label>
                                {{ form.salary }}
                                <div class="form-text">{{ form.salary.help_text }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.comment.auto_id }}" class="form-label">{{ form.comment.label }}</label>
                        {{ form.comment }}
                        <div class="form-text">{{ form.comment.help_text }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить вакансию</button>
                </form>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
{% endblock content %}