{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="user-profile">
                    <div class="avatar">SP</div>
                    <div class="name">Сергей Панченко</div>
                    <div class="location text-muted">Украина, Киев</div>
                    <div class="date text-muted">На сервисе с: 17.02.2022</div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <h2>О себе</h2>
                    <div class="subtitle">Дополнительная информация</div>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur dolores esse
                expedita molestiae repellat velit veniam? Accusamus, amet assumenda consequatur cupiditate error, esse
                et fuga harum illum laboriosam modi omnis, quis similique. Ad commodi deserunt dolorum ea impedit
                ipsa iste, laboriosam laudantium necessitatibus nisi quis quos, ut voluptatum!
            </div>
            <div class="card">
                <div class="card-heading">
                    <h2>Контактная информация</h2>
                    <div class="subtitle">Список доступных контактов пользователя</div>
                </div>
                <ul class="list-unstyled list-contacts mb-0">
                    <li><span class="left">Телефон: </span><span class="right"><a href="tel: 380000000000">380000000000</a></span></li>
                    <li><span class="left">E-mail: </span><span class="right"><a href="mailto: testmail@gmail.com">testmail@gmail.com</a></span></li>
                    <li><span class="left">Telegram: </span><span class="right">380000000000</span></li>
                    <li><span class="left">Whatsapp: </span><span class="right">380000000000</span></li>
                    <li><span class="left">LinkedIn: </span><span class="right">380000000000</span></li>
                    <li><span class="left">Портфолио: </span><span class="right"><a href="#">www.google.com</a></span>
                    <li><span class="left">Веб-сайт: </span><span class="right"><a href="#">www.google.com</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}