{% extends 'base_blank.html' %}

{% block content %}
<section class="blank">
    <div class="card card-box">
        <div class="card-heading">
            <h2>Авторизация</h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.auto_id }}" class="form-label">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.auto_id }}" class="form-label">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <button class="btn btn-primary" type="submit">Войти</button>
        </form>
    </div>
</section>
{% endblock content %}