{% extends 'base_blank.html' %}

{% block content %}
<section class="blank">
    <div class="card card-box">
        <div class="card-heading">
            <h2>Регистрация</h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.username.auto_id }}" class="form-label">{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.auto_id }}" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.name.auto_id }}" class="form-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label for="{{ form.type.auto_id }}" class="form-label">{{ form.type.label }}</label>
                {% for radio in form.type %}
                <div class="form-check">
                    {{ radio.tag }}
                    <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="{{ form.password1.auto_id }}" class="form-label">{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password2.auto_id }}" class="form-label">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Регистрация</button>
        </form>
    </div>
</section>
{% endblock content %}