{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="user-profile">
                    <div class="avatar">{{ user_info.username|slice:"2" }}</div>
                    <div class="name">{{ user_info.name }}</div>
                    <div class="location text-muted">
                        <i class="fi fi-rr-marker"></i>
                        {% if not user_info.country and not user_info.city %}
                            Не указано
                        {% else %}
                            {{ user_info.country }} {{ user_info.city }}
                        {% endif %}
                    </div>
                    <div class="date text-muted mt-3">Последняя активность: {{ user_info.last_login }}</div>
                    <div class="date text-muted">На сервисе с: {{ user_info.date_joined }}</div>
                </div>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-with-icon active" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="true">
                        <i class="fi fi-rr-id-badge"></i>
                        {% if user_info.type == 0 %}
                            О кандидате
                        {% else %}
                            О компании
                        {% endif %}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-with-icon" id="pills-contacts-tab" data-bs-toggle="pill" data-bs-target="#pills-contacts" type="button" role="tab" aria-controls="pills-contacts" aria-selected="false"><i class="fi fi-rr-at"></i>Контакты</button>
                </li>
                {% if user_info.type == 1 %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-with-icon" id="pills-jobs-tab" data-bs-toggle="pill" data-bs-target="#pills-jobs" type="button" role="tab" aria-controls="pills-jobs" aria-selected="false"><i class="fi fi-rr-briefcase"></i>Вакансии<span class="count">{{ jobs.count }}</span></button>
                </li>
                {% endif %}
                {% if user_info.type == 0 and user.type == 1 %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-with-icon" id="pills-jobs-tab" data-bs-toggle="pill" data-bs-target="#pills-jobs" type="button" role="tab" aria-controls="pills-jobs" aria-selected="false"><i class="fi fi-rr-envelope"></i>Предложить вакансию</button>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab" tabindex="0">
                    {% if user_info.type == 0 %}
                    <div class="card">
                        <div class="card-heading">
                            <h2>Специализация и опыт работы</h2>
                            <div class="subtitle">Информация касательно направления и опыта работы</div>
                        </div>
                        {% if user_info.exp or user_info.specialization %}
                        <ul class="list-unstyled list-contacts mb-0">
                            {% if user_info.exp %}
                            <li><span class="left">Опыт работы:</span><span class="right">{{ user_info.get_exp_display }}</span></li>
                            {% endif %}
                            {% if user_info.specialization %}
                            <li><span class="left">Специализация:</span><span class="right">{{ user_info.specialization }}</span></li>
                            {% endif %}
                        </ul>
                        {% else %}
                        Пользователь не указал данную информацию
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if user_info.about %}
                    <div class="card">
                        <div class="card-heading">
                            <h2>{% if user_info.type == 0 %}О кандидате{% else %}О компании{% endif %}</h2>
                            <div class="subtitle">Дополнительная информация</div>
                        </div>
                        {{ user_info.about | linebreaks }}
                    </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab" tabindex="0">
                    <div class="card">
                        <div class="card-heading">
                            <h2>Контактная информация</h2>
                            <div class="subtitle">Список доступных контактов пользователя</div>
                        </div>
                        <ul class="list-unstyled list-contacts mb-0">
                            {% if user_info.phone %}
                            <li><span class="left">Телефон:</span><span class="right"><a href="tel:{{ user_info.phone }}">{{ user_info.phone }}</a></span></li>
                            {% endif %}
                            {% if user_info.email %}
                            <li><span class="left">E-mail:</span><span class="right"><a href="mailto:{{ user_info.email }}">{{ user_info.email }}</a></span></li>
                            {% endif %}
                            {% if user_info.telegram %}
                            <li><span class="left">Telegram:</span><span class="right">{{ user_info.telegram }}</span></li>
                            {% endif %}
                            {% if user_info.whatsapp %}
                            <li><span class="left">Whatsapp:</span><span class="right">{{ user_info.whatsapp }}</span></li>
                            {% endif %}
                            {% if user_info.linkedin %}
                            <li><span class="left">LinkedIn:</span><span class="right"><a href="{{ user_info.linkedin }}">{{ user_info.linkedin }}</a></span></li>
                            {% endif %}
                            {% if user_info.github %}
                            <li><span class="left">GitHub:</span><span class="right"><a href="{{ user_info.github }}">{{ user_info.github }}</a></span></li>
                            {% endif %}
                            {% if user_info.website %}
                            <li><span class="left">Веб-сайт:</span><span class="right"><a href="{{ user_info.website }}">{{ user_info.website }}</a></span></li>
                            {% endif %}
                            {% if user_info.portfolio %}
                            <li><span class="left">Портфолио:</span><span class="right"><a href="{{ user_info.portfolio }}">{{ user_info.portfolio }}</a></span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if user_info.type == 1 %}
                <div class="tab-pane fade" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab" tabindex="0">
                    {% for job in jobs %}
                    <div class="card card-job">
                        <h2><a href="{% url 'job' pk=job.id %}">{{ job.title }}</a></h2>
                        <div class="salary">{{ job.salary }}$</div>
                        <div class="description mb-3">{{ job.description | truncatewords:30 }}</div>
                        <div class="subinfo text-muted d-flex">
                            <div class="location text-icon">
                            <i class="fi fi-rr-marker"></i>
                            {% if not job.country and not job.city %}
                                Не указано
                            {% else %}
                                {{ job.country }} {{ job.city }}
                            {% endif %}
                            </div>
                            <div class="date_publish text-icon"><i class="fi fi-rr-calendar"></i>{{ job.date_publish }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if user_info.type == 0 and user.type == 1 %}
                <div class="tab-pane fade" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab" tabindex="0">
                    <div class="card">
                        <div class="card-heading">
                            <h2>Предложить вакансию</h2>
                            <div class="subtitle">Для того, чтобы предложить вакансию заполните форму ниже</div>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.job.auto_id }}" class="form-label">{{ form.job.label }}</label>
                                {{ form.job }}
                                <div class="form-text">{{ form.job.help_text }}</div>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.message.auto_id }}" class="form-label">{{ form.message.label }}</label>
                                {{ form.message }}
                                <div class="form-text">{{ form.message.help_text }}</div>
                            </div>
                            {{ form.errors }}
                            <button type="submit" class="btn btn-primary btn-with-icon"><i class="fi fi-rr-envelope"></i>Отправить предложение</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}