{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <h2>Открытые диалоги</h2>
                    <div class="subtitle">Список отправленных и полученных сообщений</div>
                </div>
                <table id="table-message" class="display">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Название</th>
                            <th>Тип диалога</th>
                            <th>Сообщение</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for chat in chats %}
                    <tr>
                        <td>{{ chat.date_publish }}</td>
                        <td>{{ chat.title }}</td>
                        <td>{{ chat.get_type_display }}</td>
                        <td>
                            <a href="{% url 'profile_chat' pk=chat.id %}">{{ chat.message_set.last.user }}</a>
                            <div class="text-muted small">{{ chat.message_set.last.message | truncatewords:10}}</div>
                        </td>
                        <td style="white-space: nowrap"><a href="{% url 'profile_chat' pk=chat.id %}" class="btn btn-with-icon"><i class="fi fi-rr-envelope-open"></i>Читать</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'profile/menu.html' %}
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>
$('#table-message').DataTable({
    searching: false,
    paging: false,
    info: false
});
</script>
{% endblock scripts %}