{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div id="chat" class="card">
                <div class="card-heading d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{ chat.title }}</h2>
                        <div class="subtitle">Открытый диалог с пользователем</div>
                    </div>
                    <div>
                        {% if chat.type == 1 %}
                        <a href="{% url 'job' pk=chat.job.id %}" class="btn btn-with-icon"><i class="fi fi-rr-briefcase"></i>Смотреть вакансию</a>
                        {% endif %}
                        {% if chat.user.type == 1 %}
                        <a href="{% url 'employer' pk=chat.user.id %}" class="btn btn-icon btn-with-icon"><i class="fi fi-rr-user"></i></a>
                        {% else %}
                        <a href="{% url 'developer' pk=chat.user.id %}" class="btn btn-icon btn-with-icon"><i class="fi fi-rr-user"></i></a>
                        {% endif %}
                        <button type="button" class="btn btn-icon btn-with-icon btn-delete-message" data-bs-toggle="modal" data-bs-target="#delete-message"><i class="fi fi-rr-trash"></i></button>
                    </div>
                </div>
                <div class="chat-body">
                    <div class="chat-heading text-center">
                        <span class="icon"><i class="fi fi-rr-comment"></i></span>
                        <div class="mb-2">
                            Пользователь
                            {% if chat.user.type == 0 %}
                                <a href="{% url 'developer' pk=chat.user.id %}">{{ chat.user.username }}</a>
                            {% else %}
                                <a href="{% url 'employer' pk=chat.user.id %}">{{ chat.user.username }}</a>
                            {% endif %}
                            начал новый чат.</div>
                        <div class="text-muted small">
                            <span><i class="fi fi-rr-calendar me-1"></i>Дата создания чата: {{ chat.date_publish }}</span>
                            <span class="ms-3"><i class="fi fi-rr-tags me-1"></i>Тип диалога: {{ chat.get_type_display }}</span>
                        </div>

                    </div>
                    {% for message in chat_messages %}
                    <div class="row message-row {% if message.user == user %}justify-content-end chat-right{% endif %}">
                        <div class="col-lg-7">
                            <div class="chat-message mb-3">
                                <div class="avatar avatar-mini">{{ message.user.username|slice:":2" }}</div>
                                <div class="chat-text mb-1">
                                    <div class="text">{{ message.message }}</div>
                                </div>
                                <div class="text-muted small">
                                    {{ message.date_publish }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9 mb-sm-3 mb-md-0">
                            {{ form.message }}
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-with-icon"><i class="fi fi-rr-envelope"></i>Отправить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'profile/menu.html' %}
        </div>
    </div>
</div>
<div class="modal fade" id="delete-message" tabindex="-1" aria-labelledby="delete-vacancy-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ chat.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данная операция приведет к удалению чата без возможности восстановления. Подтвердите это действие.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
          <form method="post" action="{% url 'profile_chat_delete' pk=chat.id %}">
              {% csrf_token %}
              <button type="submit" class="btn">Подтвердить</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}