{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <h2>Список вакансий</h2>
                    <div class="subtitle">Список опубликованных вами вакансий</div>
                </div>
                <table id="table-jobs" class="display">
                    <thead>
                        <tr>
                            <th>Дата публикации</th>
                            <th>Название</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for job in user.job_set.all %}
                    <tr>
                        <td>{{ job.date_publish }}</td>
                        <td>
                            <a href="{% url 'job' pk=job.id %}">{{ job.title }}</a>
                            <div class="text-muted small">{{ job.description | truncatewords:10 }}</div>
                        </td>
                        <td style="white-space: nowrap">
                        {% if job.status == 0 %}
                            <div class="status status-moderate"><i class="fi fi-rr-time-add"></i>Ожидает одобрения</div>
                        {% else %}
                            <div class="status status-done"><i class="fi fi-rr-check"></i>Активно</div>
                        {% endif %}
                        </td>
                        <td style="white-space: nowrap">
                            <a href="{% url 'job_edit' pk=job.id %}" class="btn btn-icon btn-sm btn-with-icon"><i class="fi fi-rr-edit"></i></a>
                            <button type="button" class="btn btn-icon btn-sm btn-with-icon btn-delete-vacancy" data-bs-toggle="modal" data-bs-target="#delete-vacancy" data-url="{% url 'job_delete' pk=job.id %}" data-title="{{ job.title }}"><i class="fi fi-rr-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'profile/menu.html' %}
        </div>
    </div>
</div>

<div class="modal fade" id="delete-vacancy" tabindex="-1" aria-labelledby="delete-vacancy-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="delete-vacancy-label"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данная операция приведет к удалению вакансии без возможности восстановления. Подтвердите это действие.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
          <form method="post" action="">
              {% csrf_token %}
              <button type="submit" class="btn">Подтвердить</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
$(".btn-delete-vacancy").click(function () {
    var url = $(this).attr('data-url');
    var title = $(this).attr('data-title');

    $('#delete-vacancy-label').text(title);
    $('form').attr('action', url);
});


$('#table-jobs').DataTable({
    searching: false,
    paging: false,
    info: false
});
</script>
{% endblock scripts %}