{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <h2>Изменение пароля</h2>
                    <div class="subtitle">Чтобы сменить текущий пароль заполните форму ниже</div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="mb-3">
                        <legend>Изменение пароля</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.old_password.auto_id }}" class="form-label">{{ form.old_password.label }}</label>
                                    {{ form.old_password }}
                                    {% for error in  form.old_password.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.new_password1.auto_id }}" class="form-label">{{ form.new_password1.label }}</label>
                                    {{ form.new_password1 }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.new_password2.auto_id }}" class="form-label">{{ form.new_password2.label }}</label>
                                    {{ form.new_password2 }}
                                </div>
                            </div>
                        </div>
                        {% for error in  form.new_password2.errors %}
                        <div class="text-danger mb-3">{{ error }}</div>
                        {% endfor %}
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-with-icon"><i class="fi fi-rr-disk"></i>Сохранить изменения</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            {% include 'profile/menu.html' %}
        </div>
    </div>
</div>
{% endblock content %}