{% load static %}
<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled footer-menu d-flex">
                    <li><a href="{% url 'jobs' %}">Вакансии</a></li>
                    <li><a href="{% url 'developers' %}">Разработчики</a></li>
                    <li><a href="{% url 'employers' %}">Работодатели</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                </ul>
                <div class="text-muted">©&nbsp;2023 ForestWork - сервис поиска работы.</div>
            </div>
        </div>
    </div>
</footer>